<!DOCTYPE html>
<html>
<head>
	<title>Bangarang</title>
	<link rel="stylesheet" type="text/css" href="css/header.css">
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
	<script type="text/javascript" src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script type="text/javascript" src="bower_components/angular-aria/angular-aria.js"></script>
	<script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="bower_components/angular-material/angular-material.js"></script>
	<script type="text/javascript" src="bower_components/json-formatter/dist/json-formatter.min.js"></script>
  	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-sanitize.js"></script>

	<link rel="stylesheet" href="bower_components/angular-material/angular-material.css"></script>
	<link rel="stylesheet" href="bower_components/json-formatter/dist/json-formatter.css"></script>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="favicon.ico" rel="icon" type="image/x-icon" />

</head>
<body ng-app="bangarang">

	<script type="text/javascript">
		angular.module("bangarang", ["ngMaterial", "ngAnimate", "ngCookies", "jsonFormatter", "ngSanitize"])
		.config(function($httpProvider, $mdThemingProvider, $mdIconProvider, $cookiesProvider) {
			$httpProvider.defaults.headers.common["Access-Control-Allow-Origin"] = "*";
			$mdThemingProvider.theme("default").primaryPalette("blue");
			$mdThemingProvider.theme("default").accentPalette("red");

		});
	</script>
	<script type="text/javascript" src="js/policy.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/provider.js"></script>
	<script type="text/javascript" src="js/dashboard.js"></script>
	<script type="text/javascript" src="js/escalation.js"></script>
	<div ng-controller="Router as r" ng-init="r.init()">
		<md-content layout-padding>
			<md-toolbar layout="row" style="background: white;">
				<div class="md-toolbar-tools">
					<h1 style="color: black">
						<span>Bangarang</span>
					</h1>
					<span flex></span>
					<md-button class="md-warn" ng-if="logged_in" ng-click="r.logout()">
						Logout
					</md-button>
					<md-button class="md-fab" href="https://github.com/eliothedeman/bangarang">
						<md-icon ng-style="">help</md-icon>
					</md-button>
				</div>
			</md-toolbar>
		</md-content>

		<div  layout layout-sm="row" ng-if="!logged_in">
			<!-- login logic -->
			<md-card class="md-whiteframe-z2" >
				<md-card-content>
					<h2>Login</h2>
					<p>
						<md-input-container>
							<label>Username</label>
							<input name="username" ng-model="user_name">
						</md-input-container>
						<md-input-container>
							<label>Password</label>
							<input type="password" ng-model="password">
						</md-input-container>
						<md-button class="md-raised md-primary" ng-click="r.login(user_name,password)">
						Submit
						</md-button>
					</p>

				</md-card-content>
			</md-card>
			<br>

			<!-- new user -->
			<md-card class="md-whiteframe-z2" >
				<md-card-content>
					<h2>Sign Up</h2>
					<p>
						<md-input-container ng-repeat="opt in new_user_opts">
							<label>{{opt.title}}</label>
							<input name="{{opt.name}}" type="{{opt.type}}" ng-model="opt.value">
						</md-input-container>

						<md-button ng-click="r.new_user()" class="md-raised md-primary">
						Submit
						</md-button>
					</p>

				</md-card-content>
			</md-card>

		</div>


		<md-tabs md-dynamic-height md-center-tabs md-border-bottom ng-if="logged_in" md-selected="r.selected" ng-init="r.getSelected()">
			<div ng-controller="DashboardController as dc">
				<md-tab label="dashboard" md-on-select="r.updateSelected(0);startFetching()" md-on-deselect="stopFetching()">
				<div layout="row">
					<div style="padding-left: 2%; padding-right: 2%">
						<md-card class="md-whiteframe-z2">
							<md-card-content>
								<h2 align="center">Stats</h2>
								<md-card ng-repeat="(key, value) in stats">
									<md-card-content style="white-space: nowrap">
										<h5 align="center">{{key}}</h5>
										<p align="center">
										{{value}}
										</p>
										<json-formatter ng-if="byStats[key]" align="left" class="json-formatter" json="byStats[key]">
									</md-card-content>
								</md-card>
							</md-card-content>
						</md-card>
					</div>
					<div layout="column" layout-fill>
						<md-list>
							<div style="padding-left: 2%; padding-right: 5%; padding-bottom: 10px;" ng-repeat="i in incidents">
								<md-list-item   class="md-2-line md-whiteframe-z3"  layout layout-align="center center" style="border-style: solid; border-color: {{getStatusColor(i.status)}}">
									<div class="md-list-item-text" style="padding: 12px;">
										<h3 style="" >{{getStatusCode(i.status)}}</h3>
										<p>{{formatDescription(i)}}</p>
									</div>
									<md-menu>
										<md-button class="md-icon-button" ng-click="dc.showResolveDialog($mdOpenMenu, $event)">
											<md-icon>menu</md-icon>
										</md-button>

										<md-menu-content>
											<md-menu-item>
												<md-button ng-click="resolveIncident(i.key)">Resolve</md-button>
											</md-menu-item>
											<md-menu-item>
												<md-button  ng-click="forgetHost(i.val.host)">Forget Host</md-button>
											</md-menu-item>
										</md-menu-content>
									</md-menu>
								</md-list-item>
							</div>
						</md-list>
					</div>
				</div>
			</div>
			<md-tab label="policy" md-on-select="r.updateSelected(1)">
				<div ng-controller="PolicyController as pc">
					<md-tabs md-center-tabs md-dynamic-height md-border-bottom md-selected="selected" ng-init="getSelected()">
						<md-tab label="All" md-on-select="updateSelected(0);fetchPolicies()">
							<md-list>
								<md-card ng-repeat="(pol_name, pol_data) in policies">
									<md-card-content>
										<md-list-item class="md-3-line">
											<div class="md-list-item-text">
												<h3>{{pol_name}}</h3>
												<json-formatter class="json-formatter" json=pol_data></json-formatter>
											</div>
											<p ng-hide="shouldHideRemoveDialog(pol_name)">Sure?</p>
											<md-button ng-click="removePolicy(pol_name)" class="md-primary" ng-hide="shouldHideRemoveDialog(pol_name)">Yes</md-button>
											<md-button ng-click="hideRemoveDialog(pol_name)" class="md-warn" ng-hide="shouldHideRemoveDialog(pol_name)">No</md-button>
											<md-button ng-click="showRemoveDialog(pol_name)">
											<md-icon  md-font-set="material-icons" aria-label="remove">backspace</md-icon>
											</md-button>
										</md-list-item>
									</md-card-content>
								</md-card>
							</md-list>
						</md-tab>
						<md-tab label="new" md-on-select="updateSelected(1)">
							<div ng-controller="NewPolicyController as npc">
								<md-card md-dynamic-height>
									<md-card-content md-dynamic-height>
										<md-input-container>
											<label>Name</label>
											<input ng-model="np.name">
										</md-input-container>
										<md-input-container>
											<label>Comment</label>
											<input ng-model="np.comment">
										</md-input-container>
										<div layout layout-sm="row">
											<md-card class="md-whiteframe-z2">
												<md-card-content>
													<labelMatch</label>
													<div layout layout-sm="column" >
														<md-input-container>
															<label>Key</label>
															<input ng-model="nmk">
														</md-input-container>
														<md-input-container>
															<label>Value</label>
															<input ng-model="nmv">
														</md-input-container>
														<md-button ng-click="addNewMatch()">Add</md-button>
													</div>

													<div layout layout-sm="row">
														<md-list ng>
															<md-subheader>Matches</md-subheader>
															<md-list-item class="md-1-line" ng-repeat="match in np.match.matches track by $index">
																{{match.key}} -> {{match.value}}
																<md-button ng-click="np.match.del($index)">
																<md-icon  md-font-set="material-icons" aria-label="remove">backspace</md-icon></md-button>
																<md-divider ng-inset></md-divider>
															</md-list-item>
														</md-list>
													</div>
												</md-card-content>
											</md-card>
											<md-card class="md-whiteframe-z2">
												<md-card-content>
													<label>Not Match</label>
													<div layout layout-sm="colunm" >
														<md-input-container>
															<label>Key</label>
															<input ng-model="nnmk">
														</md-input-container>
														<md-input-container>
															<label>Value</label>
															<input ng-model="nnmv">
														</md-input-container>
														<md-button ng-click="addNewNotMatch()">Add</md-button>
													</div>
													<div layout layout-sm="row">
														<md-list ng>
															<md-subheader>Matches</md-subheader>
															<md-list-item class="md-2-line" ng-repeat="match in np.not_match.matches track by $index">
																{{match.key}} -> {{match.value}}
																<md-button ng-click="np.not_match.del($index)">
																<md-icon  md-font-set="material-icons" aria-label="remove">backspace</md-icon></md-button>
																<md-divider ng-inset></md-divider>
															</md-list-item>
														</md-list>
													</div>
												</md-card-content>
											</md-card>
										</div>
										<br>
										<div layout layout-sm="row">
											<md-card class="md-whiteframe-z2">
												<md-card-content>
													<label>Critical</label>
													<div layout layout-sm="row">
														<div>
															<md-input-container>
																<label>Type</label>
																<md-select md-on-close="np.addCrit(critType)" ng-model="critType">
																	<md-option ng-repeat="mod in np.modifiers" value={{mod.name}}>
																		{{mod.title}}
																	</md-option>
																</md-select>
															</md-input-container>
															<md-input-container >
																<label>Occurences</label>
																<input type="number" min="1" max="99999999" ng-model="np.crit.occurences">
															</md-input-container>
															<md-input-container>
																<label>Window Size</label>
																<input type="number" min="2" max="100000" ng-model="np.crit.window_size">
															</md-input-container>
														</div>
														<div>
															<md-input-container>
																<label>Condition</label>
																<md-select ng-model="np.crit.type">
																	<md-option ng-repeat="t in np.crit.types" value="{{t}}">
																		{{t}}
																	</md-option>
																</md-select>
															</md-input-container>
															<md-input-container>
																<label>Value</label>
																<input type="number" ng-model="np.crit.value">
															</md-input-container>
														</div>
													</div>
												</md-card-content>
											</md-card>
											<md-card class="md-whiteframe-z2">
												<md-card-content>
													<label>Warning</label>
													<div layout layout-sm="row">
														<div>
															<md-input-container>
																<label>Type</label>
																<md-select md-on-close="np.addWarn(warnType)" ng-model="warnType">
																	<md-option ng-repeat="mod in np.modifiers" value={{mod.name}}>
																		{{mod.title}}
																	</md-option>
																</md-select>
															</md-input-container>
															<md-input-container >
																<label>Occurences</label>
																<input type="number" min="1" max="99999999" ng-model="np.warn.occurences">
															</md-input-container>
															<md-input-container>
																<label>Window Size</label>
																<input type="number" min="2" max="100000" ng-model="np.warn.window_size">
															</md-input-container>
														</div>
														<div>
															<md-input-container>
																<label>Condition</label>
																<md-select ng-model="np.warn.type">
																	<md-option ng-repeat="t in np.warn.types" value="{{t}}">
																		{{t}}
																	</md-option>
																</md-select>
															</md-input-container>
															<md-input-container>
																<label>Value</label>
																<input type="number" ng-model="np.warn.value">
															</md-input-container>
														</div>
													</div>
												</md-card-content>
											</md-card>
										</div>

										<br>
										<md-button class="md-raised md-primary" ng-click="addPolicy()">Submit</md-button>
										<md-button class="md-raised md-warn" ng-click="cancelPolicy()">Cancel</md-button>
									</md-card-content>
								</md-card>
							</div>
						</md-tab>
						<md-tab label="edit" md-on-select="updateSelected(2)">
							<div ng-controller="NewPolicyController as npc">
								<md-card md-dynamic-height>
									<md-card-content md-dynamic-height>
										<md-input-container>
											<label>Name</label>
											<md-select ng-model="tmpPolName" md-on-close="updateCurrent(tmpPolName)" md-on-open="fetchPolicies()">
											  <md-option ng-value="p.name" ng-repeat="p in policies">{{p.name}}</md-option>
											</md-select>
										</md-input-container>
										<md-input-container>
											<label>Comment</label>
											<input ng-model="np.comment">
										</md-input-container>
										<div layout layout-sm="row">
											<md-card class="md-whiteframe-z2">
												<md-card-content>
													<label>Match</label>
													<div layout layout-sm="column" >
														<md-input-container>
															<label>Key</label>
															<input ng-model="nmk">
														</md-input-container>
														<md-input-container>
															<label>Value</label>
															<input ng-model="nmv">
														</md-input-container>
														<md-button ng-click="addNewMatch()">Add</md-button>
													</div>

													<div layout layout-sm="row">
														<md-list ng>
															<md-subheader>Matches</md-subheader>
															<md-list-item class="md-1-line" ng-repeat="match in np.match.matches track by $index">
																	{{match.key}} -> {{match.value}}
																	<md-button ng-click="np.match.del($index)">
																	<md-icon  md-font-set="material-icons" aria-label="remove">backspace</md-icon></md-button>
																<md-divider ng-inset></md-divider>
															</md-list-item>
														</md-list>
													</div>
												</md-card-content>
											</md-card>
											<md-card class="md-whiteframe-z2">
												<md-card-content>
													<label>Not Match</label>
													<div layout layout-sm="colunm" >
														<md-input-container>
															<label>Key</label>
															<input ng-model="nnmk">
														</md-input-container>
														<md-input-container>
															<label>Value</label>
															<input ng-model="nnmv">
														</md-input-container>
														<md-button ng-click="addNewNotMatch()">Add</md-button>
													</div>
													<div layout layout-sm="row">
														<md-list ng>
															<md-subheader>Matches</md-subheader>
															<md-list-item class="md-2-line" ng-repeat="match in np.not_match.matches track by $index">
																{{match.key}} -> {{match.value}}
																<md-button ng-click="np.not_match.del($index)">
																<md-icon  md-font-set="material-icons" aria-label="remove">backspace</md-icon></md-button>
															</md-list-item>
														</md-list>
													</div>
												</md-card-content>
											</md-card>
										</div>
										<br>
										<div layout layout-sm="row">
											<md-card class="md-whiteframe-z2">
												<md-card-content>
													<label>Critical</label>
													<div layout layout-sm="row">
														<div>
															<md-input-container>
																<label>Type</label>
																<md-select md-on-close="np.addCrit(critType)" ng-model="critType">																	<md-option ng-repeat="mod in np.modifiers" value={{mod.name}}>
																		{{mod.title}}
																	</md-option>
																</md-select>
															</md-input-container>
															<md-input-container >
																<label>Occurences</label>
																<input type="number" min="1" max="99999999" ng-model="np.crit.occurences">
															</md-input-container>
															<md-input-container>
																<label>Window Size</label>
																<input type="number" min="2" max="100000" ng-model="np.crit.window_size">
															</md-input-container>
														</div>
														<div>
															<md-input-container>
																<label>Condition</label>
																<md-select ng-model="np.crit.type">
																	<md-option ng-repeat="t in np.crit.types" value="{{t}}">
																		{{t}}
																	</md-option>
																</md-select>
															</md-input-container>
															<md-input-container>
																<label>Value</label>
																<input type="number" ng-model="np.crit.value">
															</md-input-container>
														</div>
													</div>
												</md-card-content>
											</md-card>
											<md-card class="md-whiteframe-z2">
												<md-card-content>
													<label>Warning</label>
													<div layout layout-sm="row">
														<div>
															<md-input-container>
																<label>Type</label>
																<md-select md-on-close="np.addWarn(warnType)" ng-model="warnType">
																	<md-option ng-repeat="mod in np.modifiers" value={{mod.name}}>
																		{{mod.title}}
																	</md-option>
																</md-select>
															</md-input-container>
															<md-input-container >
																<label>Occurences</label>
																<input type="number" min="1" max="99999999" ng-model="np.warn.occurences">
															</md-input-container>
															<md-input-container>
																<label>Window Size</label>
																<input type="number" min="2" max="100000" ng-model="np.warn.window_size">
															</md-input-container>
														</div>
														<div>
															<md-input-container>
																<label>Condition</label>
																<md-select ng-model="np.warn.type">
																	<md-option ng-repeat="t in np.warn.types" value="{{t}}">
																		{{t}}
																	</md-option>
																</md-select>
															</md-input-container>
															<md-input-container>
																<label>Value</label>
																<input type="number" ng-model="np.warn.value">
															</md-input-container>
															</md-input-container>
														</div>
													</div>
												</md-card-content>
											</md-card>
										</div>

										<br>
										<md-button class="md-raised md-primary" ng-click="updatePolicy()">submit</md-button>
										<md-button class="md-raised md-warn" ng-click="cancelPolicy()">Cancel</md-button>
									</md-card-content>
								</md-card>
							</div>
						</md-tab>
					</md-tabs>
				</div>
			</md-tab>
			<md-tab label="escalation" md-on-select="r.updateSelected(2)">
				<div ng-controller="EscalationController as ec">
					<md-tabs md-center-tabs md-dynamic-height md-border-bottom md-selected="ec.selected" ng-init="ec.getSelected()">
						<md-tab label="All" md-on-select="ec.updateSelected(0)">
							<md-list>
								<md-card ng-repeat="(k,v) in escalations">
									<md-card-content>
										<md-list-item class="md-3-line">
											<div class="md-list-item-text">
												<h3>{{k}}</h3>
												<p>
													<json-formatter json=v></json-formatter>
												</p>
											</div>
											<md-button ng-click="removeEscalation(k)" class="md-primary" ng-hide="shouldHideRemoveDialog(k)">Yes</md-button>
											<md-button ng-click="hideRemoveDialog(k)" class="md-warn" ng-hide="shouldHideRemoveDialog(k)">No</md-button>
											<md-button ng-click="showRemoveDialog(k)">
											<md-icon  md-font-set="material-icons" aria-label="remove">backspace</md-icon>
											</md-button>
										</md-list-item>
									</md-card-content>
								</md-card>
							</md-list>
						</md-tab>
						<md-tab label="New" md-on-select="ec.updateSelected(1)">
							<md-card>
								<md-card-content ng-controller="NewEscalationController as ne">
									<md-input-container>
										<label>Name</label>
										<input ng-model="esc.name">
									</md-input-container>
									<div layout layout-sm="colunm">
										<md-select placeholder="Type" ng-model="tmp_type">
											<md-option ng-repeat="t in esc.type_list" value="{{t.name}}">{{t.title}}</md-option>
										</md-select>
									</div>
									<div ng-repeat="opt in esc.getOpts(tmp_type)">
										<md-input-container>
											<label>{{opt.title}}</label>
											<input ng-model="opt.value">
										</md-input-container>
									</div>
									<div layout layout-sm="row">
										<md-button class="md-raised" ng-click="appendEscalation()">Add</md-button>
									</div>
									<div layout layout-sm="row">
										<md-card class="md-whiteframe-z2">
											<md-card-content>
												<label>Match</label>
												<div layout layout-sm="column" >
													<md-input-container>
														<label>Key</label>
														<input ng-model="nmk">
													</md-input-container>
													<md-input-container>
														<label>Value</label>
														<input ng-model="nmv">
													</md-input-container>
													<md-button ng-click="esc.match.add(nmk, nmv)">Add</md-button>
												</div>

												<div layout layout-sm="row">
													<md-list ng>
														<md-subheader>Matches</md-subheader>
														<md-list-item class="md-1-line" ng-repeat="match in esc.match.matches track by $index">
															{{match.key}} -> {{match.value}}
															<md-button ng-click="esc.match.del($index)">
															<md-icon  md-font-set="material-icons" aria-label="remove">backspace</md-icon></md-button>
															<md-divider ng-inset></md-divider>
														</md-list-item>
													</md-list>
												</div>
											</md-card-content>
										</md-card>
										<md-card class="md-whiteframe-z2">
											<md-card-content>
												<label>Not Match</label>
												<div layout layout-sm="colunm" >
													<md-input-container>
														<label>Key</label>
														<input ng-model="nnmk">
													</md-input-container>
													<md-input-container>
														<label>Value</label>
														<input ng-model="nnmv">
													</md-input-container>
													<md-button ng-click="esc.not_match.add(nnmk, nnmv)">Add</md-button>
												</div>
												<div layout layout-sm="row">
													<md-list ng>
														<md-subheader>Not Matches</md-subheader>
														<md-list-item class="md-2-line" ng-repeat="match in esc.not_match.matches track by $index">
															{{match.key}} -> {{match.value}}
															<md-button ng-click="esc.not_match.del($index)">
															<md-icon  md-font-set="material-icons" aria-label="remove">backspace</md-icon></md-button>
															<md-divider ng-inset></md-divider>
														</md-list-item>
													</md-list>
												</div>
											</md-card-content>
										</md-card>
									</div>	
									<div layout layout-sm="row">
										<md-list ng>
											<md-subheader>Escalations</md-subheader>
											<md-list-item class="md-2-line" ng-repeat="conf in esc.configs">
												<h3>{{conf.type}}</h3>
												<md-divider ng-inset></md-divider>
											</md-list-item>
										</md-list>
									</div>
									<md-switch ng-model="esc.ok" aria-label="ok">Ok</md-switch>
									<md-switch ng-model="esc.warn" aria-label="ok">Warn</md-switch>
									<md-switch ng-model="esc.crit" aria-label="crit">Crit</md-switch>
									<br>
									<md-divider></md-divider>
									<br>
									<div layout layout-sm="row">
										<md-button class="md-raised md-primary" ng-click="submitNew()">Submit</md-button>
										<md-button class="md-raised md-warn" ng-click="reset()">Cancel</md-button>
									</div>
									<md-progress-linear md-mode="buffer" class="md-warn" value="{{newEscalationProgress}}"></md-progress-linear>
								</md-card-content>
							</md-card>
						</md-tab>
						<md-tab label="Edit" md-on-select="ec.updateSelected(2)">
							<md-card>
								<md-card-content ng-controller="NewEscalationController as ne">
									<md-input-container>
										<label>Name</label>
										<md-select ng-model="tmpEscName" md-on-close="updateCurrent(tmpEscName)" md-on-open="fetchEscalations()">
										  <md-option ng-value="e.name" ng-repeat="e in escalations">{{e.name}}</md-option>
										</md-select>
									</md-input-container>

									<div layout layout-sm="colunm">
										<md-select placeholder="Type" ng-model="tmp_type">
											<md-option ng-repeat="t in esc.type_list" value="{{t.name}}">{{t.title}}</md-option>
										</md-select>
									</div>
									<div ng-repeat="opt in esc.getOpts(tmp_type)">
										<md-input-container>
											<label>{{opt.title}}</label>
											<input ng-model="opt.value">
										</md-input-container>
									</div>
									<div layout layout-sm="row">
										<md-button class="md-raised" ng-click="appendEscalation()">Add</md-button>
									</div>
									<div layout layout-sm="row">
										<md-card class="md-whiteframe-z2">
											<md-card-content>
												<label>Match</label>
												<div layout layout-sm="column" >
													<md-input-container>
														<label>Key</label>
														<input ng-model="nmk">
													</md-input-container>
													<md-input-container>
														<label>Value</label>
														<input ng-model="nmv">
													</md-input-container>
													<md-button ng-click="esc.match.add(nmk, nmv)">Add</md-button>
												</div>

												<div layout layout-sm="row">
													<md-list ng>
														<md-subheader>Matches</md-subheader>
														<md-list-item class="md-1-line" ng-repeat="match in esc.match.matches track by $index">
															{{match.key}} -> {{match.value}}
															<md-button ng-click="esc.match.del($index)">
															<md-icon  md-font-set="material-icons" aria-label="remove">backspace</md-icon></md-button>
															<md-divider ng-inset></md-divider>
														</md-list-item>
													</md-list>
												</div>
											</md-card-content>
										</md-card>
										<md-card class="md-whiteframe-z2">
											<md-card-content>
												<label>Not Match</label>
												<div layout layout-sm="colunm" >
													<md-input-container>
														<label>Key</label>
														<input ng-model="nnmk">
													</md-input-container>
													<md-input-container>
														<label>Value</label>
														<input ng-model="nnmv">
													</md-input-container>
													<md-button ng-click="esc.not_match.add(nnmk, nnmv)">Add</md-button>
												</div>
												<div layout layout-sm="row">
													<md-list ng>
														<md-subheader>Not Matches</md-subheader>
														<md-list-item class="md-2-line" ng-repeat="match in esc.not_match.matches track by $index">
															{{match.key}} -> {{match.value}}
															<md-button ng-click="esc.not_match.del($index)">
															<md-icon  md-font-set="material-icons" aria-label="remove">backspace</md-icon></md-button>
															<md-divider ng-inset></md-divider>
														</md-list-item>
													</md-list>
												</div>
											</md-card-content>
										</md-card>
									</div>	
									<div layout layout-sm="row">
										<md-list ng>
											<md-subheader>Escalations</md-subheader>
											<md-list-item class="md-2-line" ng-repeat="conf in esc.configs">
												<h3>{{conf.type}}</h3>
												<md-divider ng-inset></md-divider>
											</md-list-item>
										</md-list>
									</div>
									<md-switch ng-model="esc.ok" aria-label="ok">Ok</md-switch>
									<md-switch ng-model="esc.warn" aria-label="ok">Warn</md-switch>
									<md-switch ng-model="esc.crit" aria-label="crit">Crit</md-switch>
									<br>
									<md-divider></md-divider>
									<br>
									<div layout layout-sm="row">
										<md-button class="md-raised md-primary" ng-click="submitUpdated()">Submit</md-button>
										<md-button class="md-raised md-warn" ng-click="reset()">Cancel</md-button>
									</div>
									<md-progress-linear md-mode="buffer" class="md-warn" value="{{newEscalationProgress}}"></md-progress-linear>
								</md-card-content>
							</md-card>
						</md-tab>
					</md-tabs>
				</div>
			</md-tab>
			<md-tab label="provider" md-on-select="r.updateSelected(3)" >
				<div ng-controller="ProviderController as pc">
					<md-tabs md-dynamic-height md-center-tabs md-border-bottom md-selected="pc.selected" ng-init="pc.getSelected()">
						<md-tab label="All" md-on-select="pc.updateSelected(0)" ng-init="pc.fetchProviders()">
							<md-list>
								<md-card ng-repeat="(k,v) in providers">
									<md-card-content>
										<h4>{{k}}</h4>
										<json-formatter class="jsonFormatter" json=v></json-formatter>
									</md-card-content>
								</md-card>
							</md-list>
						</md-tab>
						<md-tab label="Add" md-on-select="pc.updateSelected(1)">
							<div ng-controller="NewProvider as np">
								<md-card>
									<md-card-content>
										<md-input-container>
											<label>Name</label>
											<input ng-model="np.name"></input>
										</md-input-container>
										<div layout layout-sm="colunm">
											<md-select placeholder="Type" ng-model="np.type">
												<md-option ng-repeat="t in np.type_list" value="{{t.name}}">{{t.title}}</md-option>
											</md-select>
										</div>
										<div ng-repeat="opt in np.getOpts(np.type)">
											<md-input-container>
												<label>{{opt.title}}</label>
												<input ng-model="np.opts[opt.name]">
											</md-input-container>
										</div>
										<br>
										<md-divider></md-divider>
										<br>
										<div layout layout-sm="row">
											<md-button class="md-raised md-warn" ng-click="np.init()">Cancel</md-button>
											<md-button class="md-raised md-primary" ng-click="np.submitNew()">Submit</md-button>
										</div>

									</md-card-content>
								</md-card>
							</div>
						</md-tab>

					</md-tabs>
				</div>
			</md-tab>
			<md-tab label="history" md-on-select="r.updateSelected(4)">
				<div ng-controller="Config as cc" ng-init="fetchSnapshots()">
					<md-card ng-repeat="snapshot in snapshots">
						<md-card-content>
							<h3>{{snapshot.date}}</h3>
							<h4>Created by: {{snapshot.creator_user_name}}</h4>
							<p ng-if="snapshot.hash == 'current'">{{snapshot.hash}}</p>
							<md-button aria-label="Update Current" class="md-warn" ng-if="snapshot.hash != 'current'" ng-click="showRevert(snapshot.hash)">Revert</md-button>
							<json-formatter json=snapshot.app></json-formatter>
						</md-card-content>
					</md-card>
				</div>
			</md-tab>
			<md-tab label="admin" md-on-select="r.updateSelected(5)" ng-if="r.permissions=='admin'">
				<div ng-controller="AdminController as ac" >
					<div ng-controller="User as u">
						<md-card ng-repeat="usr in users">
							<md-card-content>
								<h3>{{usr.name}}</h4>
								<h4>UserName: {{usr.user_name}}</h4>
								<p>
									<md-input-container>
										<label>Permissions</label>
										<md-select ng-model="usr.permissions" md-on-close="updatePermissions(usr)">
											<md-option ng-value="opt" ng-repeat="opt in permissions_options">
												{{opt}}
											</md-option>
										</md-select>
									</md-input-container>
									<md-input-container>
										<label>New Password</label>
										<input type="password" ng-model="usr.new_password">
									</md-input-container>
									<md-input-container>
										<label>Confirm Password</label>
										<input type="password" ng-model="usr.confirm_password">
									</md-input-container>
									<md-button ng-click="updatePassword(usr)">
										Update
									</md-button>
								</p>
							</md-card-content>
						</md-card>
					</div>
				</div>
			</md-tab>

		</md-tabs>
	</div>
</body>
</html>
