{
    "tcp_port": 8080,
    "Escalations": {
        "test": [
            {
                "type":"console"
            }
        ]
    },
	"keep_alive_age": "10s",
    "escalations_dir": "alerts/"
}
